.mapa {
  border-radius: 1rem;
}

#formulario {
  padding: 1rem;
  margin: 2rem;
  background-color: var(--grayColor);
  border: solid 0.1rem var(--darkColor);
  border-radius: 1rem;
}

#formulario label span {
  font-size: 13px;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #formulario label span {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
}
