#headerLogo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/* cambio el color del boton menu hamburguesa */
span .navbar-Toggle {
  border: none;
}
.navbar-toggler-icon {
  background-image: url(../img/menu_hamburguesa.png);
  background-size: 48px;
}

#headerLinks .nav-link {
  color: white;
}

#header-social-icons {
  display: flex;
  justify-content: space-between;
}
#header-social-icons a {
  margin: 3px;
  padding: 5px;
}

.header-form {
  margin-left: 10px;
}
.header-form input {
  background-color: var(--grayColor);
  border: 1px solid var(--darkColor);
  width: 150px;
}

.links-header a {
  text-decoration: none;
  color: white;
}
.links-header a:active {
  color: var(--redColor);
}
.sectionLinks a {
  color: var(--grayColor);
}

.btn-search {
  background-color: transparent;
  border: none;
  padding: 0.4rem;
  border-radius: 0.375rem;
}
.btn-search:hover {
  background-color: var(--grayColor);
}
.btn-search:active {
  background-color: var(--grayColor) !important;
}
/* BREAKPOINTS */

/* MD */
@media (min-width: 767.98px) {
  .header-border {
    border-right: 0.5px solid var(--redColor);
    border-left: 0.5px solid transparent;
    margin: 0px;
  }
}
