/* 404 */

* {
  transition: all 0.6s;
}

.container-400 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main404 {
  font-family: "Lato", sans-serif;
  /* background-color: var(--darkColor); */
  color: var(--orangeColor);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* width: 100%; */
  height: 400px;
  text-align: center;
  background-image: url("/src/img/arbitro.png");
  background-position: 50% 40%;
  background-size: auto 40%;
  background-repeat: no-repeat;
}
.containerE404 {
  /* background-color: var(--darkColor); */
}
.container404 {
  margin-top: 10vh;
  /* display: table-cell;
  vertical-align: middle; */
}

.container404 h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
