.colorFonts {
  color: var(--grayColor) !important;
}

.container-grid {
  margin-bottom: 3rem;
  display: grid;
  justify-content: center;
  grid-template-areas:
    "one-card       two-card"
    "three-card     four-card"
    "five-card      five-card"
    "six-card       seven-card"
    "eight-card     eight-card"
    "eight-card     eight-card"
    "nine-card      ten-card"
    "eleven-card    twelve-card"
    "thirteen-card  fourteen-card"
    "fifteen-card   sixteen-card"
    "fifteen-card   seventeen-card";
}

.container-grid div {
  /* margin: 5%; */
}
.cardImagen {
  display: flex;
  justify-content: center;
  margin: 0.1rem;
  /* width: 12rem; */
}

#one-card {
  grid-area: one-card;
}
#two-card {
  grid-area: two-card;
}
#three-card {
  grid-area: three-card;
}
#four-card {
  grid-area: four-card;
}
#five-card {
  grid-area: five-card;
}
#six-card {
  grid-area: six-card;
}

#seven-card {
  grid-area: seven-card;
}

#eight-card {
  grid-area: eight-card;
}

#nine-card {
  grid-area: nine-card;
}

#ten-card {
  grid-area: ten-card;
}

#eleven-card {
  grid-area: eleven-card;
}

#twelve-card {
  grid-area: twelve-card;
}

#thirteen-card {
  grid-area: thirteen-card;
}

#fourteen-card {
  grid-area: fourteen-card;
}

#fifteen-card {
  grid-area: fifteen-card;
}

#sixteen-card {
  grid-area: sixteen-card;
}

#seventeen-card {
  grid-area: seventeen-card;
}

/* estilos a card grande */
.card-publicidad {
  padding: 0 calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}
.card-publicity-horizontal {
  padding: 2rem;
  background-color: var(--orangeColor);
  text-align: center;
}
.card-publicity-vertical {
  background-color: var(--orangeColor);
  text-align: center;
}
/* BREAKPOITS */

@media (min-width: 768px) {
  .container-grid {
    grid-template-areas:
      "one-card     two-card        three-card"
      "four-card    six-card        five-card"
      "seven-card   seven-card      eight-card"
      "seven-card   seven-card      nine-card"
      "ten-card     ten-card        ten-card"
      "eleven-card  twelve-card     thirteen-card"
      "fifteen-card    fourteen-card   sixteen-card"
      "fifteen-card    seventeen-card  seventeen-card";
  }

  .card-big {
    height: 100% !important;
  }
}

@media (min-width: 992px) {
  .cardImagen {
    width: 22rem;
  }
  .container-grid {
    grid-template-areas:
      "one-card     two-card        three-card"
      "four-card    six-card        five-card"
      "seven-card   seven-card      eight-card"
      "seven-card   seven-card      nine-card"
      "ten-card     ten-card        ten-card"
      "eleven-card  twelve-card     thirteen-card"
      "fifteen-card    fourteen-card   sixteen-card"
      "fifteen-card    seventeen-card  seventeen-card";
  }
}
