.colorFonts {
  color: var(--grayColor) !important;
}
.cardImagen {
  display: flex;
  justify-content: center;
}

.spaceNews {
  margin-bottom: 1rem;
}

.btn-news svg {
  background-color: var(--grayColor);
  padding: 0.5rem;
  border-radius: 80%;
}
/* IMAGEN-> ESTILO PARA QUE TODOS TENGAN EL MISMO TAMAÑO  */
.card-img-style{
  min-width: 100%;
  min-height: 30vh;
  object-fit:cover;
  padding: .3rem;
}


/* BREAKPOITS */

@media (min-width: 768px) {
  .card-big {
    height: 100%;
    width: 100%;
  }
}

/* @media (min-width: 1200px) { */
/* .card-img-style {
  min-width: 100%;
  min-height: 43vh;
} */
/* } */
