#modal-body-one {
  font-size: 13px;
}

#form-login {
  font-size: 13px;
}

/* Oculto boton */
@media (max-width: 767.98px) {
  #btn-login {
    display: none;
  }
}

/* TABLET */
@media (min-width: 767.98px) {
  #btn-login {
    font-size: 13px;
  }

  #modal-body-one {
    font-size: 15px;
  }

  #form-login {
    font-size: 15px;
  }
}

/* pc */
@media (min-width: 992px) {
  #modal-body-one {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  #btn-login {
    font-size: 16px;
  }
}
