html{
    width:100vw;
    height: 100vh;
    overflow: scroll;
}

.FondoPass {
    overflow: hidden;
    filter: saturate(20%) contrast(1.7);
  }

  .ModalPass {
    opacity: 0.8;
    top:10rem;
    font-size: 1rem;
  }
  .logotipo{
    border-radius: 50%;
  }
.modalBody{
    text-align: center;
}
  
  @media (max-width: 767.98px){
    .ModalPass{
        width:18rem;
        height: 28rem;
        text-align: center;
        top:4rem;
        padding: 1rem;
    }
    .ModalPass h4,h5,h6{
        font-size: .8rem;
        margin-top: 1rem;
        padding: 0;
    }
    .modalHeader{
        display: flex;
        padding: 1rem;
    }
    .logotipo{
        width: 50px;
        height: 50px;
    }
    .modalBody{
        padding: 0;
        }
  }