.resetContainer{
    display: flex;
    flex-direction: column;
}


.btnConfirm{
    background-color: var(--redColor);
    border: 1px solid transparent;
    min-width: 15rem;
}

.btnConfirm:hover{
    background-color: var(--redColor);
    border: 1px solid var(--darkColor);
}

.btnConfirm:active {
    background-color: var(--redColor) !important;
    border: 1px solid var(--redColor) !important;
  }
.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.message{
    color: var(--redColor);
    padding: 1rem;
}
  @media (max-width: 350px) {
    .btnConfirm {
        min-width: 10rem;
        transition: 5ms;
    }
}