.title-search {
  color: var(--redColor);
}
.spaceNews {
  margin-bottom: 1rem;
}

#icons-notFound {
  width: 5rem;
  height: 5rem;
}

.container-notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  min-height: 80vh;
}

/* @media (min-width: 767.98px) {
  #icons-notFound {
    width: 5rem;
    height: 5rem;
  }
} */
