:root {
  --darkColor: #33313b;
  --grayColor: #413f4a;
  --redColor: #d05037;
  --orangeColor: #ff4c29;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}
.logo {
  border-radius: 50%;
  margin: 1rem;
}
.modal_styles {
  text-decoration: none;
}
.ModalPass {
  opacity: 0.8;
  margin-top: 7rem;
}
.FondoPass {
  overflow:hidden;
  filter: saturate(20%) contrast(1.7);
  max-height: 80vh;
}

.FondoPass img{
  position: relative;
  top:-12rem;
}

/* titulos */
.title {
  font-weight: 700;
  color: var(--orangeColor);
}

/* color de fondo oscuro */
.dark-background-color {
  background-color: var(--darkColor);
}
